

.jumbotron {
padding-top: 2rem;
background-color: rgb(39, 37, 163);

}

.ini-nav {
font-family: 'Oswald', sans-serif !important;

font-weight: bold;
font-style: italic;
}

.ini-content  {
font-family: 'Oswald', sans-serif !important;
}

@media only screen and (max-width: 600px) {
    .ini-aku {
        padding:0% 15% 0% 0%;
    }
}
